<table class="table w-full">
  <thead>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Type</td>
      <td>User ID</td>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td class="pr-4"><%= character.id %></td>
        <td class="pr-4"><%= character.name %></td>
        <td class="pr-4"><%= character.type %></td>
        <td><%= character.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
