<section class="py-8 lg:py-12 max-w-7xl mx-auto">
  <h1 class="mb-4 font-medium! text-2xl">Bot commands</h1>
  <p class="mb-8 light-color">All bot commands are available for in-app use, <a href="https://t.me/charkeeper_bot" class="underline" target="_blank" rel="noopener noreferrer">Telegram bot and Telegram group bot</a> and Discord bot (in progress). They use the same interface and arguments.</p>
  <h2 class="mb-2 font-medium! text-lg">/roll</h2>
  <p class="mb-2 light-color">Simple command for roll dices.</p>
  <h3 class="mb-2 font-medium!">Examples</h3>
  <ul>
    <li><code>/roll d20</code> - roll one d20</li>
    <li><code>/roll 2d20+4</code> - roll two d20 with modifier</li>
    <li><code>/roll 2d20+4 2d12</code> - roll two d20 with modifier and two d12</li>
  </ul>
  <h2 class="mt-8 mb-2 font-medium! text-lg">/homebrew</h2>
  <p class="mb-2 light-color">Command for managing homebrews.</p>
  <h3 class="mb-2 font-medium!">Examples</h3>
  <ul>
    <li><code>/homebrew createRace daggerheart "Ancestry name"</code> - add ancestry for Daggerheart</li>
    <li><code>/homebrew createCommunity daggerheart "Community name"</code> - add community for Daggerheart</li>
  </ul>
  <h2 class="mt-8 mb-2 font-medium! text-lg">/module</h2>
  <p class="mb-2 light-color">Command for managing homebrew modules.</p>
  <h3 class="mb-2 font-medium!">Examples</h3>
  <ul>
    <li><code>/module list</code> - render list of modules</li>
    <li><code>/module create daggerheart "Dark Sun"</code> - create new module (available systems: daggerheart)</li>
    <li><code>/module set "Dark Sun"</code> - set module with specific name as active</li>
    <li><code>/module show</code> - show active module</li>
    <li><code>/module remove "Dark Sun"</code> - remove module</li>
    <li><code>/module addRace "Homebrew ancestry 1" "Homebrew ancestry 2"</code> - add races to active module</li>
    <li><code>/module addCommunity "Communists" "Democrats"</code> - add communities to active module</li>
    <li><code>/module export</code> - share module with other users</li>
  </ul>
</section>
