<table class="table w-full text-sm">
  <thead>
    <tr>
      <td></td>
      <td>Text</td>
      <td>Created</td>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each_with_index do |feedback, index| %>
      <tr>
        <td class="pr-2"><%= index + 1 %></td>
        <td><%= feedback.value %></td>
        <td><%= feedback.created_at.strftime('%d-%m-%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
