<% if @characters.any? %>
  <% @characters.each do |character| %>
    <div>
      <p><%= character.name %></p>
      <p><%= @rules[character.rule_id] %></p>
      <p><%= character.data['classes'] %></p>
    </div>
  <% end %>
<% else %>
  <p>No characters</p>
<% end %>
